include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

exclude resources.qrc

recursive-include data *

recursive-exclude build-tools *
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
